header{
    background-color: burlywood;
    h2{
        margin: 0;
        margin-left: 1rem;
    }

    .cubeLogo{
        margin-left: 1rem;
        padding: 1rem;

        i{
            margin-right: 0.3rem; 
        }
    }
}