* {
    box-sizing: border-box;
}

.cube-app {
    display: flex;
    min-height: 600px;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .hidden {
        display: none;
      }

    .roll-cube-btn {
        margin-left: 6rem;

        .roll-btn {
            display: inline-block;
            background-color: red;
            color: #fff;
            padding: 0.1rem 0.2rem;
            border-color: rgba(100, 69, 69, 0.288);
            border-radius: 0.1rem;
            text-decoration: none;
            font-weight: bold;
            width: 7rem;
            height: 3rem;
        }
    }

    .edit-cube-btn{
        margin-left: 1rem;

        .edit-btn {
            display: inline-block;
            background-color: green;
            color: #fff;
            padding: 0.1rem 0.2rem;
            border-color: rgba(100, 69, 69, 0.288);
            border-radius: 0.1rem;
            text-decoration: none;
            font-weight: bold;
            width: 7rem;
            height: 3rem;
        }

    }

    .cube-input {
        width: 100%;
    }

    .preview-btn {
        margin-left: 0.1rem;
        display: inline-block;
        background-color: rgb(36, 139, 36);
        color: #fff;
        padding: 0.1rem 0.2rem;
        border-color: rgba(100, 69, 69, 0.288);
        border-radius: 0.1rem;
        text-decoration: none;
        width: 5rem;
        height: 1.5rem;
    }

    input {
        margin-right: 0.0rem;
    }
}


.scene {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    perspective: 600px;

    .cube {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transform: translateZ(-100px);
        transition: transform 1s;

        .cube__face {
            display: flex;
            justify-content: center;
            // align-items: center;
            position: absolute;
            width: 200px;
            height: 200px;
            border: 1px solid black;
            border-radius: 0.5rem;
            // line-height: 200px;
            font-size: 32px;
            font-weight: bold;
            color: white;
            overflow-wrap: break-word;

            p {
                word-wrap: break-word;
                text-align: center;
                padding-top: 3rem;
                margin-block-start: 0em;
                margin-block-end: 0em;
                width: 190px;
                height: 190px;
                margin: 0;
                direction: rtl;
            }



        }

        .cube__face--front {
            background-color: rgb(255, 0, 0);
            transform: rotateY(0deg) translateZ(100px);

        }

        .cube__face--right {
            background-color: rgb(0, 0, 255);
            transform: rotateY(90deg) translateZ(100px);
        }

        .cube__face--back {
            background-color: rgb(255, 255, 0);
            transform: rotateY(180deg) translateZ(100px);
        }

        .cube__face--left {
            background-color: rgb(0, 128, 0);
            transform: rotateY(-90deg) translateZ(100px);
        }

        .cube__face--top {
            background-color: rgb(0, 0, 0);
            transform: rotateX(90deg) translateZ(100px);
        }

        .cube__face--bottom {
            background-color: rgb(255, 192, 203);
            transform: rotateX(-90deg) translateZ(100px);
        }
    }
}

.cube.show-front {
    transform: translateZ(-100px) rotateX(12deg) rotateY(12deg)
}

.cube.show-right {
    transform: translateZ(-100px) rotateY(-80deg);
}

.cube.show-back {
    transform: translateZ(-100px) rotateY(-170deg);
}

.cube.show-left {
    transform: translateZ(-100px) rotateY(80deg);
}

.cube.show-top {
    transform: translateZ(-100px) rotateX(-80deg);
}

.cube.show-bottom {
    transform: translateZ(-100px) rotateX(80deg);
}

.cube.show-diagnol {
    transform: translateZ(-100px) rotateY(50deg) rotateX(20deg);
}

.cube.show-roll {
    transform: translateZ(-100px) rotateY(1000deg) rotateX(500deg);
    ;
}

.CubeEdit {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
}