* {
    box-sizing: border-box;
}

@import '../../styles/setup/variables.scss';
@import '../../styles/setup/mixins.scss';

.moreCubeApp {
    background: url('../../styles/imgs/9.png');
}

:root {
    --size: 300px;
}

$size: 300px; // cube length
$medium-size: 250px;
$noraml-size: 200px;
$small-size: 150px;


.container {
    min-height: 83.5vh;

    @include for-normal-layout {
        min-height: 82vh;
    }

    @include for-very-wide-layout {
        min-height: 70vh;
    }
}

.cube-app {
    display: flex;
    min-height: 500px;
    align-items: center;
    gap: 0rem;
    overflow-x: hidden;

    @include for-normal-layout {
        flex-direction: column-reverse;
        min-height: 350px;
        margin-top: 2rem;
    }

    @include for-very-wide-layout {
        margin-top: 8rem;
    }

    button {
        border: 0.5px solid rgb(255, 255, 255);
        border-radius: 0.3rem;
    }



    .CubeEdit {
        display: flex;
        flex-direction: column;
        margin-left: 2.3rem;

        .color-edit-front,
        .color-edit-back,
        .color-edit-right,
        .color-edit-left,
        .color-edit-top,
        .color-edit-bottom {
            display: none;
        }

        .show-color-edit {
            display: flex;
            width: 20rem;
            gap: 1.5rem;
        }

        @include for-normal-layout {
            margin: 2rem 0rem 3rem 1rem;
            margin-left: 2rem;
        }

        .edit-form {
            width: 300px;

            @include for-normal-layout {
                margin-left: 0rem;
                

                .text-input {
                    width: 11rem;
                }
            }

            @include for-very-wide-layout {
                width: 500px;

                .text-input {
                    width: 20rem;
                }
            }
        }

        label {
            margin-left: 0.15rem;
            margin-bottom: 0;
            line-height: 1rem;
            font-weight: bold;
            color: rgb(53, 51, 51)
        }

        .bg-color,
        .txt-color {
            display: block;
        }

        .save-clear-btns {
            margin-top: 1rem;
            width: 7rem;
            border: 0.0px solid rgb(255, 255, 255);
            display: flex;
            justify-content: space-between;

            .fa-save,
            .fa-trash-alt {
                font-size: 1.5rem;
            }

            .clear-btn,
            .save-btn {
                background-color: rgb(206, 188, 188);
                color: rgb(255, 255, 255);
                padding: 0.1rem 0.2rem;
                border: 0.0px solid rgb(255, 255, 255);
                text-decoration: none;
                font-weight: bold;
                width: 3rem;
                height: 2rem;

                &hover {
                    background-color: rgb(197, 183, 183)
                }

            }
        }
    }

    .hidden {
        display: none;
    }

    .edit-container {
        width: 100%;
        display: block;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    .preview-btn {
        font-size: 12px;
        display: inline-block;
        background-color: #db9898;
        color: rgb(255, 255, 255);
        border: 0.0px solid rgb(255, 255, 255);
        border-radius: 0.3rem;
        text-decoration: none;
        width: 4rem;
        height: 1.5rem;
    }

    .preview-btn:hover {
        background-color: #d19090;
    }

    .fa-palette{
        cursor: pointer;
    }

    .text-input {
        height: 1.5rem;
        margin-right: 0rem;
        outline: none;
        border: 0.5px solid rgb(221, 221, 221);
        border-radius: 0.3rem;
        width: 11.7rem;

        @include for-wide-layout {
            width: 17.7rem;
        }
    }

    ::placeholder {
        color: rgb(212, 212, 212);
    }

    .color-pickers {
        font-size: 0.8rem;
        margin-top: 0.5rem;

    
        .bg-color,
        .txt-color {
            width: 1.5rem;
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
            margin: 0;
        }
    }
}

.roll-cube-btn {
    display: flex;
    width: 32vw;
    justify-content: center;

    @include for-very-wide-layout {
       margin-left: 5rem;
    }

    .roll-btn {
        display: inline-block;
        background-color: #dd114e;
        color: rgb(255, 255, 255);
        border: 0.0px solid rgb(255, 255, 255);
        border-radius: 0.5rem;
        padding: 0.1rem 0.2rem;
        text-decoration: none;
        font-weight: bold;
        width: 7rem;
        height: 2.5rem;
    }

    .roll-btn:hover {
        background-color: #c21348
    }
}

.cube-container {
    min-width: 500px;
    display: flex;
    margin-left: 5rem;

    @include for-normal-layout {
        justify-content: center;
        margin-left: 0rem;
        margin-bottom: 4rem;
    }
}

.scene {
    display: flex;
    justify-content: center;
    width: $size;
    height: $size;
    perspective: 600px;
    margin-bottom: 3rem;
    margin-top: 2rem;

    @include for-wide-layout {
        width: $medium-size;
        height: $medium-size;
    }

    @include for-normal-layout {
        width: $noraml-size;
        height: $noraml-size;
    }


    .cube {
        margin-top: 1.5rem;
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transform: translateZ(-100px);
        transition: transform 1s;

        @include for-normal-layout {}

        .cube__face {
            display: flex;
            justify-content: center;
            position: absolute;
            width: $size;
            height: $size;
            border: 1.5px solid rgb(228, 228, 228);
            border-radius: 0rem;
            font-size: 32px;
            font-weight: bold;
            color: white;
            overflow-wrap: break-word;
            background-repeat: no-repeat;
            background-size: $size $size;
            opacity: 0.98;

            @include for-wide-layout {
                width: $medium-size;
                height: $medium-size;

                background-size: $medium-size $medium-size;
            }

            @include for-normal-layout {
                width: $noraml-size;
                height: $noraml-size;

                background-size: $noraml-size $noraml-size;
            }


            p {
                word-wrap: break-word;
                overflow: hidden;
                text-align: center;
                padding-top: 6.5rem;
                margin-block-start: 0em;
                margin-block-end: 0em;
                width: $size;
                height: 290px;
                margin: 0;
                direction: rtl;

                @include for-wide-layout {
                    padding-top: 5.5rem;
                    width: $medium-size;
                    height: 230px;
                }

                @include for-normal-layout {
                    padding-top: 4.5rem;
                    width: $noraml-size - 10;
                    height: 190px;
                }
            }
        }

        .cube__face--front {
            background-image: url('../../styles/imgs/front.png');
            transform: translate3d(0, 0, $size/2);

            .remove-bgc-img {
                background-color: white;
                background-image: none;
            }

            @include for-wide-layout {
                transform: translate3d(0, 0, $medium-size/2);
            }

            @include for-normal-layout {
                transform: translate3d(0, 0, $noraml-size/2);
            }
        }

        .cube__face--back {
            background-image: url('../../styles/imgs/back.png');
            transform: rotateY(180deg) translate3d(0, 0, $size/2);

            @include for-wide-layout {
                transform: rotateY(180deg) translate3d(0, 0, $medium-size/2);
            }

            @include for-normal-layout {
                transform: rotateY(180deg) translate3d(0, 0, $noraml-size/2);
            }
        }

        .cube__face--left {
            background-image: url('../../styles/imgs/left.png');
            transform: rotateY(-90deg) translate3d(0, 0, $size/2);

            @include for-wide-layout {
                transform: rotateY(-90deg) translate3d(0, 0, $medium-size/2);
            }

            @include for-normal-layout {
                transform: rotateY(-90deg) translate3d(0, 0, $noraml-size/2);
            }
        }

        .cube__face--right {
            background-image: url('../../styles/imgs/right.png');
            transform: rotateY(90deg) translate3d(0, 0, $size/2);

            @include for-wide-layout {
                transform: rotateY(90deg) translate3d(0, 0, $medium-size/2);
            }

            @include for-normal-layout {
                transform: rotateY(90deg) translate3d(0, 0, $noraml-size/2);
            }
        }

        .cube__face--top {
            background-image: url('../../styles/imgs/top.png');
            transform: rotateX(90deg) translate3d(0, 0, $size/2);

            @include for-wide-layout {
                transform: rotateX(90deg) translate3d(0, 0, $medium-size/2);
            }

            @include for-normal-layout {
                transform: rotateX(90deg) translate3d(0, 0, $noraml-size/2);
            }
        }

        .cube__face--bottom {
            background-image: url('../../styles/imgs/bottom.png');
            transform: rotateX(-90deg) translate3d(0, 0, $size/2);
            background-color: transparent;

            @include for-wide-layout {
                transform: rotateX(-90deg) translate3d(0, 0, $medium-size/2);
            }

            @include for-normal-layout {
                transform: rotateX(-90deg) translate3d(0, 0, $noraml-size/2);
            }
        }
    }
}

.cube.show-front {
    transform: translateZ(-100px) rotateX(17deg) rotateY(0deg)
}

.cube.show-right {
    transform: translateZ(-100px) rotateY(-75deg);
}

.cube.show-back {
    transform: translateZ(-100px) rotateY(-180deg);
}

.cube.show-left {
    transform: translateZ(-100px) rotateY(75deg);
}

.cube.show-top {
    transform: translateZ(-100px) rotateX(-80deg);
}

.cube.show-bottom {
    transform: translateZ(-100px) rotateX(90deg);
}

.cube.show-diagnol {
    transform: translateZ(-100px) rotateY(-50deg) rotateX(-50deg);
}

.cube.show-roll {
    transform: translateZ(-100px) rotateY(590deg) rotateX(720deg);
    ;
}

.he {
    direction: rtl;

    .roll-cube-btn {
        margin-right: 5rem;

        @include for-normal-layout {
            margin-right: 0rem;
        }
    }

    .cube-container {
        margin-left: 0rem;
        margin-right: 6rem;

        @include for-normal-layout {
            margin-right: 0rem;
        }

    }
        .CubeEdit {
            margin-right: 2.3rem;

            .text-input {
                width: 12.4rem;
            }

            .preview-btn {
                margin-left: 0;
            }

            .edit-form {
                min-width: 320px;

                @include for-normal-layout {
                    margin: 0rem;
                    width: 250px;
                    margin-right: 2rem;

                    .text-input {
                        width: 11rem;
                        font-size: 16px;
                        // margin-right: 1rem;
                    }
                }
            }
        }
}

.en {
    direction: ltr;
}