*{
    box-sizing: border-box;
}

html{
    background-color: rgb(236, 222, 222);
    font-family: 'Mallanna', sans-serif;
}

body {
    margin: 0;
  }


button{
    cursor: pointer;
    outline: none;
}