*{
    box-sizing: border-box;
}

html{
    // background-color: rgb(236, 222, 222);
    // background-color: #eeebe7;
    background: url('../../styles/imgs/9.png');
    font-family: 'Varela Round', sans-serif;
}


body {
    margin: 0;
  }


button{
    cursor: pointer;
    outline: none;
    font-family: 'Varela Round', sans-serif;
}