*{
    box-sizing: border-box;
}

html{
    font-family: 'Varela Round', sans-serif;
    // background-color: rgb(236, 222, 222);
    // background-color: #eeebe7;
    // background: url('../../styles/imgs/9.png');
    // font-family: 'Varela Round', sans-serif;
    // opacity: 0.5;
}


body {
    margin: 0;
        // background: url('../../styles/imgs/9.png');
        opacity: 0.95;
  }


button{
    cursor: pointer;
    outline: none;
    font-family: 'Varela Round', sans-serif;
}