.main-layout {

    display: grid;
    grid-template-columns: 0.5rem 1fr 0.5rem;
    grid-template-rows: auto 1fr auto;
    min-height: 83.5vh;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }
}


.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}