@import '../../styles/setup/variables.scss';
@import '../../styles/setup/mixins.scss';

footer{
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 1;
    height: 2.5rem;
    background-color: rgb(68, 63, 63);
    color: white;
    padding: 0.5rem;
    gap: 1rem;

    span{
        display: inline-block;
        width: max-content;

        @include for-normal-layout {
        width: 13rem;
        }
    }

    a{
        color: rgb(93, 93, 228);
    }

    @include for-normal-layout {
        bottom: 1;
        height: 6rem;
        flex-direction: column;
        align-items: center;
    }
}